.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.job-title {
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.application-form {
    display: grid;
    grid-gap: 20px;
}

.form-section {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: inline-block;
    margin-right: 10px;
}

/* Adjusting label for file input to align with the input field */
.form-group .file-label {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

/* Radio Button Group for better alignment */
.radio-group {
    margin: 8px 0;
}

.radio-group input {
    margin: 5px 3px;
}

.form-control,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

.form-control:focus {
    border-color: #49a4de;
    outline: none;
}

.delete-education, #addEducation { 
    background-color: #49a4de;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    margin: .2rem 0;
}

.delete-education:hover { 
    background-color: red;
}

#addEducation:hover { 
    background-color: #0056b3;
}

.btn-submit {
    background-color: #49a4de;
    height: 3rem;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.asterisk {
    color: red;
}

/* Enhanced button styles */
.btn-submit, #addEducation, .delete-education {
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for 3D effect */
}