.goals-highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 0;
}

.goal {
    margin: 20px 0;
}

.power-word {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: #49a4de; /* Or any color that stands out */
}

.goal p {
    margin-top: 10px;
    color: #555;
    font-size: 1rem;
    margin: 0 2rem;
}