body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

main {
    width: 80%;
    margin: 20px auto;
    margin-top: 7rem;
}

.company-overview {
    margin-bottom: 4rem;
}

.benefits {
    margin-bottom: 4rem;
}

.company-overview h2,
.benefits h2,
.open-positions h2 {
    color: #49a4de;
}

.company-overview p,
.benefits ul,
.open-positions p {
    font-size: 1.1em;
}

.benefits ul {
    list-style-type: square;
    margin-left: 20px;
}

.jobs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Evenly spaces the job boxes */
    align-items: flex-start; /* Aligns items to the top */
    gap: 10px; /* Adds some space between the boxes */
}

.job-box {
    display: flex;
    flex-direction: column;
    width: 330px;
    justify-content: space-between; /* Aligns content and apply button at top and bottom respectively */
    height: 700px; /* Adjust based on your content for best appearance */
    background-color: #fff; /* Background color */
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    border-radius: 5px; /* Rounded corners */
}

.job-box h3 {
    color: #49a4de;
}

.job-box ul {
    list-style-type: circle;
    margin: 0;
}

.apply-btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #49a4de;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.apply-btn:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
