
@media screen and (max-width: 400px) {
    .header-content {
        position: relative;  /* Ensure header content is positioned relatively */
    }

    header h1 img {
        height: 60px; /* Smaller logo size */
    }

    header h1 {
        font-size: 1.2rem;
    }

    .navbar-content.menu-active {
        position: absolute;
        top: 100%;  /* Below the header */
        width: 100%;
        background-color: #fff;
    }

    .menu-trigger {
        position: absolute;
        right: 10%;  /* Keeps the menu at the right */
        top: 30%;  /* Aligns top with header content */
        z-index: 1002;  /* Ensures visibility over expanded content */
        font-size: .9rem;
    }

    /* Targets the nav container when the menu is active */
    .navbar-content.menu-active {
        display: block;
        position: absolute;
        top: 100%; /* Positioned right below the header */
        left: 0;
        width: 100%;
        background-color: #fff; /* Same as header for consistency */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional for better visibility */
        z-index: 999;
    }

    /* Ensures the 'Menu' link itself is always visible */
    .navbar-content > a {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: .9rem;
    }

    /* Hides all navbar links by default under 550px */
    .navbar-content li, .navbar-content .dropdown {
        display: none;
    }

    /* Only shows the list items when .menu-active is present */
    .navbar-content.menu-active li, 
    .navbar-content.menu-active .dropdown,
    .navbar-content.menu-active {
        display: block;
    }

    /* Styles for the dropdown links to ensure they are visible and legible */
    .navbar-content.menu-active a {
        color: #333;
        padding: 10px;
        border-top: 1px solid #ddd;
        background-color: #fff;
        text-decoration: none;
        text-align: center;
    }

    .dropdown .arrow {
        display: none;
    }
}

@media screen and (min-width: 400px) and (max-width: 550px) {
    .header-content {
        position: relative;  /* Ensure header content is positioned relatively */
    }

    .navbar-content.menu-active {
        position: absolute;
        top: 100%;  /* Below the header */
        width: 100%;
        background-color: #fff;
    }

    .menu-trigger {
        position: absolute;
        right: 10%;  /* Keeps the menu at the right */
        top: 30%;  /* Aligns top with header content */
        z-index: 1002;  /* Ensures visibility over expanded content */
        font-size: 1rem;
    }

    /* Targets the nav container when the menu is active */
    .navbar-content.menu-active {
        display: block;
        position: absolute;
        top: 100%; /* Positioned right below the header */
        left: 0;
        width: 100%;
        background-color: #fff; /* Same as header for consistency */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional for better visibility */
        z-index: 999;
    }

    /* Ensures the 'Menu' link itself is always visible */
    .navbar-content > a {
        display: block;
        padding: 10px;
        text-align: center;
    }

    /* Hides all navbar links by default under 550px */
    .navbar-content li, .navbar-content .dropdown {
        display: none;
    }

    /* Only shows the list items when .menu-active is present */
    .navbar-content.menu-active li, 
    .navbar-content.menu-active .dropdown,
    .navbar-content.menu-active {
        display: block;
    }

    /* Styles for the dropdown links to ensure they are visible and legible */
    .navbar-content.menu-active a {
        color: #333;
        padding: 10px;
        border-top: 1px solid #ddd;
        background-color: #fff;
        text-decoration: none;
        text-align: center;
    }

    .dropdown .arrow {
        display: none;
    }
}

/* Responsive styling for screens 768px wide and below */
@media screen and (min-width: 550px) and (max-width: 768px) {
    /* Ensure dropdown functions normally on larger screens */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .navbar-content > a {
        display: none;
    }

    header h1 {
        font-size: 0.9rem;  /* Smaller font size for header */
    }

    .menu-trigger {
        display: none;
    }

    header h1 img {
        height: 40px; /* Smaller logo size */
    }

    nav ul li {
        margin: 5px 0; /* Adjust vertical margin for nav items */
    }

    nav ul li a {
        padding: 0.25rem 0.5rem; /* Adjust padding for nav links */
        font-size: 0.8rem; /* Smaller font size for nav links */
    }

    .dropdown-content {
        width: 200px; /* Adjusted width for dropdown */
        column-count: 1; /* Single column for dropdown items */
    }

    .dropdown-content a {
        font-size: 0.7rem; /* Smaller font size for dropdown links */
    }

    .dropdown-content li {
        padding: 2px 5px; /* Adjusted padding for dropdown items */
    }

    .dropdown-content {
        padding: 5px;
        width: fit-content;
    }
}

/* Responsive styling for screens between 768px and 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-content > a {
        display: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        font-size: 1.1rem; /* Adjusted for smaller medium screens */
    }

    header h1 img {
        height: 45px; /* Adjusted image height */
    }

    nav ul li {
        margin: 0 10px; /* Reduced margin */
    }

    nav ul li a {
        padding: 0.3rem 0.7rem; /* Adjusted padding */
        font-size: 0.8rem; /* Smaller font size */
    }

    .dropdown-content {
        width: 260px; /* Adjusted width for dropdown */
        column-count: 2; /* Single column layout for narrower screens */
        gap: 0;
    }

    .dropdown-content a {
        font-size: 0.7rem; /* Smaller font size for dropdown links */
    }

    .dropdown-content li {
        padding: 0px; /* Adjusted list item padding */
    }
}

/* Responsive styling for screens between 768px and 1440px */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .navbar-content > a {
        display: none;
    }

    .menu-trigger {
        display: none;
    }
    
    header h1 {
        font-size: 1.2rem; /* Adjusted for medium screens */
    }

    nav ul li {
        margin: 0 0.5rem; /* Adjust margin between menu items */
    }

    nav ul li a {
        padding: 0.4rem 0.8rem; /* Adjust padding around links */
        font-size: 0.9rem; /* Adjust font size */
    }

    main {
        padding: 1rem; /* Adjust main content padding */
    }

    header h1 img {
        height: 50px;
    }

    .dropdown-content {
        width: 300px; /* Adjust width as necessary */
        column-count: 2; /* Change to 1 column layout */
        column-gap: 0; /* Adjust gap between columns */
    }

    .dropdown-content a {
        font-size: 0.8rem; /* Adjust font size for links */
    }

    .dropdown-content li {
        padding: 5px; /* Adjust padding for list items */
    }
}

/* Responsive styling for screens between 768px and 1440px */
@media screen and (min-width: 1440px) {
    .menu-trigger {
        display: none;
    }
}
